* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f9;
    padding: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

a[href="tambah.php"] {
    display: inline-block;
    background-color: #04021e;
    color: #fff;
    padding: 10px 16px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 15px;
    transition: 0.3s;
}

a[href="tambah.php"]:hover {
    background-color: #769dbc;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    overflow: hidden;
}

th {
    background-color: #8a2a57;
    color: #fff;
    font-size: 14px;
    padding: 12px 10px;
    text-align: left;
    text-transform: none !important; /* pastikan tidak capslock */
}

td {
    padding: 12px 10px;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    text-align: left;
}

tr:hover {
    background-color: #f1f1f1;
}

td a {
    text-decoration: none;
    font-weight: bold;
    margin-right: 5px;
}

td a:first-child {
    color: #007bff;
}

td a:first-child:hover {
    text-decoration: underline;
}

td a:last-child {
    color: #d9534f;
}

td a:last-child:hover {
    text-decoration: underline;
}
 
input, textarea, button {
    display: block;
    width: 100%;
    max-width: 800px;
    padding: 8px 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

button {
    background-color: #2b002d;
    color: #fff;
    cursor: pointer;
    border: none;
    transition: 0.3s;
}

button:hover {
    background-color: #769dbc;
}

.container {
    justify-content: center;
    display: flex;
    width: 100%;
    margin: auto;
}

.nut {
    justify-content: center;
    display: flex;

}

a[href="tambah.php"] {
    float: right;
}
